body {
    font-family: 'Kanit', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('https://github.com/useronlineid/webapp/blob/main/A-background.jpg?raw=true'); /* ลิงค์รูปภาพพื้นหลัง */
    background-size: cover;
    background-position: center;
    margin: 0;
}

.hidden {
    display: none;
}

#login, #menu, .sub-menu {
    background-color: rgba(255, 255, 255, 0.0);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    resize: both; /* อนุญาตให้ปรับขนาดของ textarea ได้ทั้งในแนวตั้งและแนวนอน */
    overflow: auto; /* เพิ่ม scroll bar อัตโนมัติเมื่อเนื้อหาเกินขนาดของ textarea */
}

h1, h2 {
    color: white;
}

#login {
    width: 300px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#login input, #submenu8-password input {
    width: 88%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#login button {
    width: 95%;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#login button:hover {
    background-color: #45a049;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98.6%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

#logout-button {
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#logout-button:hover {
    background-color: #e53935;
}

#session-timer {
    font-size: 16px;
    color: #333;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 200px;  /* ขนาดที่เล็กลง */
    height: 150px; /* ขนาดที่เล็กลง */
    transition: transform 0.3s;  /* เพิ่ม transition */
}

.menu-item:hover {
    transform: scale(1.1);  /* ขยายเมื่อ hover */
}

.menu-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s;  /* เพิ่ม transition */
}

button:hover {
    background-color: #45a049;
    transform: scale(1.1);  /* ขยายเมื่อ hover */
}

#submenu8-password {
    width: 300px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#submenu8-password input {
    width: 88%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#password-error {
    color: red;
    font-size: 14px;
}
